  <div class="container">
    <h1 class="col-md-offset-2">Gestion des compositions</h1>
    <form class="form-horizontal" role="form" name="empByJobForm">
      <div class="form-group">
        <app-search-by-name [id_medicament]="id_medicament" (onChoose)=medicSelected($event)></app-search-by-name>
      </div>
      <div *ngIf="id_medicament > 0" class="form-group">
        <app-composition [medic]="medic"></app-composition>
      </div>
      <!-- error comp à mettre en place -->
    </form>
  </div>


