<div class="container">
  <h1 class="col-md-offset-2">Modification d'un composant</h1>
  <form class="form-horizontal" role="form" name="modifCompForm" (ngSubmit)="validateAdd(medic.id_medicament)" #f="ngForm" novalidate>
    <div class="panel panel-default">
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Médicament</th>
              <th class="hidden-xs">Dépot légal</th>
              <th>Composant</th>
              <th>Qté</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let composant of medic.composants">
              <td class="cache">{{medic.nom_commercial}}</td>
              <td class="cache hidden-xs">{{medic.depot_legal}}</td>
              <td>
                <select class="form-control" id="selectCompo" onchange="activBtns()">
                  <option [value]="composant.id_composant" placeholder="Sélectionner un composant" selected>{{composant.lib_composant}}</option>
                  <option *ngFor="let notComposant of notComposants" [value]="notComposant.id_composant" id="opt">{{notComposant.lib_composant}}</option>
                </select>
              </td>
              <td>
                <input type="text" name="qte" placeholder="Quantité" style="width:130px; height:27.27px" [value]="composant.pivot['qte_composant']" required>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row" style="padding-right:15px">
      <button type="submit"  class="btn  btn-default pull-right" style="margin-left:20px" id="sub1" disabled>
      Valider
      </button>
      <a type="button" (click)="cancel(medic.id_medicament)" class="btn  btn-danger pull-right" style="height:33.07px">
      Retour
      </a>
  </div>
  <!-- error comp à mettre en place -->
  </form>
</div>

